#unofficialNotice {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	padding: .5em;
	text-align: center;
	white-space: nowrap;
	
	background-color: #0005;
	border-radius: 1em 1em 0 0;
}

#centerDiv {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
}

#centerRoomCodeDiv {
	line-height: 1.75em;
	
	background-color: #0005;
	border: 2px #eee solid;
	border-radius: 1em;
	padding: 1em;
}

#roomCodeRefresh {
	width: 2em;
}

#waitingForOpponentSpan {
	display: none;
}

#rulesButton {
	background-color: #0005;
	color: #eee;
	text-decoration: none;
	border: 2px #eee solid;
	border-radius: .5em;
	padding: .2em .4em;
	cursor: pointer;
}

.textSettingInputDiv {
	display: flex;
	width: 100%;
	gap: 1em;
}

.textSettingInputDiv :first-child {
	white-space: nowrap;
	flex-grow: 1;
}

.textSettingInputDiv :last-child {
	width: 100%;
}

#deckMakerButton, #settingsButton {
	color: inherit;
	text-decoration: none;
	
	background-color: #0005;
	border: 2px #eee solid;
	border-top: none;
	border-radius: 0 0 1em 1em;
	text-align: center;
	cursor: default;
}

#deckMakerButton {
	position: absolute;
	right: 2vw;
	top: 0;
	width: 20vw;
	height: 1.5em;
}

#settingsButton {
	position: absolute;
	left: 2vw;
	top: 0;
	width: 20vw;
	height: 1.5em;
}