body {
	background-color: #333;
	color: #eee;
	font-family: "游ゴシック", "YuGothic", sans-serif;
	padding-bottom: 30em;
}

a {
	color: #aaf;
}

summary {
	font-size: 1.5em;
	font-weight: bold;
}

/* hover images */
.hoverImg {
	display: none;
	position: absolute;
	height: 30em;
	transform: translateY(1.5em);
}

span:hover + .hoverImg, .hoverImg:hover{
	display: initial;
}